* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  border:none;
  text-decoration: none;
}

button{
  cursor: pointer;
}
h1,h2,h3{
  padding:0.5em 0;
}